<html>
  <head>
    <title>Node Todo</title>
    <link rel="stylesheet" href="/public/bootstrap.css" />
    <link rel="stylesheet" href="/public/app.css" />
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <a href="#" class="navbar-brand">Node Todo</a>
    </div>
    <div class="container">
      <div id="dashboard">
      </div>
    </div>
    <script src="/public/jquery-1.8.0.js"></script>
    <script src="/public/bootstrap.js"></script>
    <script src="/public/app.js"></script>
  </body>
</html>
